.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: auto;

    &__link {
        margin: 5px;
        text-align: center;
        a {
            color: $cwcColorSecondaryText;
        }
        &__separator {
            width: 2px;
            margin: 10px;
            height: 2em;
            background-color: $cwcColorSecondaryText;
        }
    }
}
