.mission {
    &__wrapper {
        height: 100%;
        margin: 30px 30px 4em 30px;
    }
    &__amendment {
        font-size: 1.2em;
        font-style: italic;
        &__last-part {
            font-weight: bold;
            font-size: 1.1em;
        }
    }
}
