$welcome-description-side-margin: 20px;

.welcome {
    display: flex;
    display: block;
    padding-top: 2%;

    &__logo {
        max-width: 60%;
        margin: 19% auto 0;
        overflow: auto;
        text-align: center;
        &__img {
            width: 100%;
        }
    }

    &__description {
        margin: 0 $welcome-description-side-margin;
        text-align: center;
    }

    &__address-form {
        margin: auto auto 2em;
    }

    &__adress-fields {
        display: flex;
        justify-content: space-between;
        width: 450px;
        margin: auto;
    }

    &__error-button {
        text-align: center;
    }

    &__error-string {
        color: $cwcColorAlertText;
        margin: 0 20px;
    }

    &__about {
        &__person {
            &__name {
                font-weight: bold;
                margin-bottom: 10px;
            }
            &__bio {
                font-size: 0.9em;
                a {
                    color: $cwcColorSecondaryText;
                    font-weight: bold;
                }
            }
        }
    }
}

@media #{$cwc-medium-and-up} {
    .welcome {
        &__logo {
            max-width: 450px;
            margin: 9em auto 0;
        }
        &__description {
            margin: auto;
            max-width: calc(#{$cwc-medium-screen} - (#{$welcome-description-side-margin} * 2));
            text-align: center;
        }
    }
}

@media #{$cwc-small-and-down} {
    .welcome {
    }
}
