$cwc-main-white: #ffffff;
$cwc-main-blue: #007eb2;
$cwc-light-blue: #c1efff;
$cwc-charcoal-grey: #607075;
$cwc-main-black: #102025;

$cwc-input-box-grey: #d7d7d7;
$cwc-input-box-grey-hover: #747c7f;

// Be sure to update both of these if you change one or the other
$cwc-page-grey: #e9f1f4;
$cwc-page-grey-transparent: rgba(233, 241, 244, 0.9);

.cwc-main-white {
    background-color: $cwc-main-white;
}
.cwc-main-white-text {
    color: $cwc-main-white;
}

.cwc-main-blue {
    background-color: $cwc-main-blue;
}
.cwc-main-blue-text {
    color: $cwc-main-blue;
}

.cwc-light-blue {
    background-color: $cwc-light-blue;
}
.cwc-light-blue-text {
    color: $cwc-light-blue;
}

.cwc-charcoal-grey {
    background-color: $cwc-charcoal-grey;
}
.cwc-charcoal-grey-text {
    color: $cwc-charcoal-grey;
}
