.letters {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    display: block;
    padding-top: 2%;
    &__representatives-by-level {
        width: 350px;
        height: 500px;
    }
}
