.dashboard {
    min-width: 320px;
    min-height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    display: block;
    width: 100%;
    height: 100%;

    &__no-print {
        @media print {
            display: none;
        }
    }
    &__print-only {
        @media not print {
            display: none;
        }
    }
    &__contents {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__numbered-steps {
        margin: 10px 0;
    }
    &__numbered-step {
        display: flex;
        max-width: 600px;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 4em;
        &__number {
            margin: 10px;
        }
        &__select {
            width: 80%;
        }
        &__contact-breaker {
            text-transform: uppercase;
            color: $cwcColorContrastText;
            background-color: $cwcColorContrastBackground;
            padding: 0 10px;
            margin-top: 10px;
        }
        &__contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__contact-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__contact-role {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            font-size: 0.8em;
            line-height: 0.8em;
            margin-left: 10px;
            text-align: right;
            color: $cwcColorSecondaryText;
        }
        &___text-only-step {
            color: $cwcColorSecondaryAlertText;
            font-weight: bold;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__icon {
                cursor: pointer;
                margin: 0 5px;
                color: $cwcColorLink;
            }
        }
    }
    &__paper {
        text-align: center;
    }
    &__dialog-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__logo {
        &__img {
            height: 3.7em;
            margin-left: 1em;
            cursor: pointer;
        }
    }

    &__social-logo {
        height: 2em;
    }

    &__paragraph-title {
        font-size: 1.1em;
        color: $cwcColorMainText;
    }

    &__paragraph {
        margin-bottom: 10px;
    }

    &__dialog-smaller-title {
        padding: 15px 24px 5px !important;
    }

    &__post-print-dialog-title {
        text-decoration: underline;
    }

    &__dialog-smaller-body {
        padding: 0 24px 0px 24px !important;
    }

    &__template-sources-wrapper {
        padding: 0 30px;
    }

    &__template-sources{
        font-size: 0.8em;
        font-weight: bold;
        margin: 0 auto;
        padding-top: 10px;
        max-width: 400px;
        color: $cwcColorSecondaryAlertText;
        &__list {
            padding-top: 5px;
            font-size: 0.9em;
            &__two-columns {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
            &__link {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    &__report-a-problem {
        font-size: 0.7em;
        line-height: 1em;
        display: flex;
        justify-content: flex-end;
        padding: 8px 5px 0 0;
    }
}
