$letter-font: 'Times New Roman', 'Roboto', 'Adelle-Sans', 'Helvetica Neue', Arial, sans-serif;

.letter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    @media print {
        @page { margin: 0in }
    }
    &__contents {
        font-family: $letter-font;
        text-align: left;
        overflow: hidden;
        @media not print {
            &__editable {
                &::before {
                    content: "";
                    background: url(../images/ic_mode_edit_24px.svg) no-repeat;
                    width: 2em;
                    height: 2em;
                    position: absolute;
                    display: inline-block;
                    left: 0em;
                    background-size: 2em;
                }
                cursor: pointer;
                background: linear-gradient(to right, $cwcColorSecondaryBackground, $cwcColorMainBackground);
            }
        }
        &__message-string {
            font-family: $cwcFont;
            font-style: italic;
            font-weight: bold;
            color: $cwcColorAlertText;
        }
    }
}
