$letter-margin-lines-top: 4;
$letter-margin-lines-sides: 3;
$letter-margin-lines-bottom: 3;

$letter-margin-sides: calc(1em * #{$letter-margin-lines-sides});
$letter-margin-bottom: calc(1em * #{$letter-margin-lines-bottom});

$address-from-lines: 3;
$address-from-height: calc(1em * #{$address-from-lines});

$address-to-lines: 5;
$address-to-height: calc(1em * #{$address-to-lines});

$address-from-top: calc(1em * #{$letter-margin-lines-top});
$date-top: calc(4em + (1em *  #{$letter-margin-lines-top}));
$address-to-top: calc(6em + (1em *  #{$letter-margin-lines-top}));
$body-top: calc(12em + (1em *  #{$letter-margin-lines-top}));

.letter {
    position: absolute;
    @media print {
        transform: scale(0.5) !important;
        width: 2159px !important;
        height: 2794px !important;
        font-size: 62px !important;
        line-height: 62px !important;
    }
    &__address-from {
        @media not print {
            background: linear-gradient(to right, $cwc-color-secondary-background, $cwc-color-main-background);
        }
        position: absolute;
        top: $address-from-top;
        left: $letter-margin-sides;
        right: $letter-margin-sides;
        height: $address-from-height;
        text-align: left;
        cursor: pointer;
    }
    &__date {
        position: absolute;
        top: $date-top;
        left: $letter-margin-sides;
        right: $letter-margin-sides;
        height: 1em;
        text-align: left;
    }
    &__address-to {
        position: absolute;
        top: $address-to-top;
        left: $letter-margin-sides;
        right: $letter-margin-sides;
        height: $address-to-height;
        text-align: left;
    }
    &__body {
        @media not print {
            background: linear-gradient(to right, $cwc-color-secondary-background, $cwc-color-main-background);
        }
        position: absolute;
        top: $body-top;
        left: $letter-margin-sides;
        right: $letter-margin-sides;
        bottom: $letter-margin-bottom;
        text-align: left;
        cursor: pointer;
    }
    &__cursor {
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
        -ms-animation: 1s blink step-end infinite;
        -o-animation: 1s blink step-end infinite;
        animation: 1s blink step-end infinite;
        font-weight: bolder;
    }
    &__replace-string {
        font-style: italic;
        font-weight: bold;
        color: $cwc-color-alert-text;
    }
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
