.letter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    @media print {
        @page { margin: 0in }
    }
    &__contents {
        text-align: left;
        overflow: hidden;
        @media not print {
            &__editable {
                &::before {
                    content: "";
                    background: url(../images/ic_mode_edit_24px.svg) no-repeat;
                    width: 2em;
                    height: 2em;
                    position: absolute;
                    display: inline-block;
                    left: 0em;
                    background-size: 2em;
                }
                cursor: pointer;
                background: linear-gradient(to right, $cwc-color-secondary-background, $cwc-color-main-background);
            }
        }
        &__replace-string {
            font-style: italic;
            font-weight: bold;
            color: $cwc-color-alert-text;
        }
    }
}
