$cwc-main-white: $colors-main-white;
$cwc-main-blue: $colors-main-blue;
$cwc-light-blue: $colors-light-blue;
$cwc-light-blue-transparent: $colors-light-blue-transparent;
$cwc-charcoal-grey: $colors-charcoal-grey;
$cwc-main-black: $colors-main-black;
$cwc-light-grey: $colors-light-grey;

$cwc-input-box-grey: $colors-input-box-grey;
$cwc-input-box-grey-hover: $colors-input-box-grey-hover;
$cwc-page-grey: $colors-page-grey;

$cwc-main-background-color: $cwc-light-blue;
$cwc-progress-overlay-main-background-color: rgba(227,242,253,.68);
$cwc-overlay-main-background-color: rgba(0,0,0,.3);

.cwc-main-white {
    background-color: $cwc-main-white;
}
.cwc-main-white-text {
    color: $cwc-main-white;
}

.cwc-main-blue {
    background-color: $cwc-main-blue;
}
.cwc-main-blue-text {
    color: $cwc-main-blue;
}

.cwc-light-blue {
    background-color: $cwc-light-blue;
}
.cwc-light-blue-text {
    color: $cwc-light-blue;
}

.cwc-charcoal-grey {
    background-color: $cwc-charcoal-grey;
}
.cwc-charcoal-grey-text {
    color: $cwc-charcoal-grey;
}
