@import "./colors.json";

$cwc-main-white: map-get($colors, main-white);
$cwc-main-blue: map-get($colors, main-blue);
$cwc-light-blue: map-get($colors, light-blue);
$cwc-light-blue-transparent: map-get($colors, light-blue-transparent);
$cwc-charcoal-grey: map-get($colors, charcoal-grey);
$cwc-main-black: map-get($colors, main-black);
$cwc-light-grey: map-get($colors, light-grey);

$cwc-input-box-grey: map-get($colors, input-box-grey);
$cwc-input-box-grey-hover: map-get($colors, input-box-grey-hover);
$cwc-page-grey: map-get($colors, page-grey);

$cwc-main-background-color: $cwc-light-blue;
$cwc-overlay-main-background-color: rgba(227,242,253,.68);

.cwc-main-white {
    background-color: $cwc-main-white;
}
.cwc-main-white-text {
    color: $cwc-main-white;
}

.cwc-main-blue {
    background-color: $cwc-main-blue;
}
.cwc-main-blue-text {
    color: $cwc-main-blue;
}

.cwc-light-blue {
    background-color: $cwc-light-blue;
}
.cwc-light-blue-text {
    color: $cwc-light-blue;
}

.cwc-charcoal-grey {
    background-color: $cwc-charcoal-grey;
}
.cwc-charcoal-grey-text {
    color: $cwc-charcoal-grey;
}
