$cwc-main-color-white: $colors-main-white;
$cwc-main-color-blue: $colors-main-blue;
$cwc-main-color-black: $colors-main-black;
$cwc-main-color-red: $colors-main-red;
$cwc-main-color-light-blue: $colors-light-blue;
$cwc-main-color-light-blue-transparent: $colors-light-blue-transparent;
$cwc-main-color-charcoal-grey: $colors-charcoal-grey;

$cwc-progress-overlay-main-background-color: rgba(227,242,253,.68);
$cwc-overlay-main-background-color: rgba(0,0,0,.3);

$cwc-color-main-background:         $cwc-main-color-white;
$cwc-color-secondary-background:    $cwc-main-color-light-blue;
$cwc-color-contrast-background:     $cwc-main-color-charcoal-grey;

$cwc-color-main-text:               $cwc-main-color-black;
$cwc-color-secondary-text:          $cwc-main-color-charcoal-grey;
$cwc-color-contrast-text:           $cwc-main-color-white;

$cwc-color-alert-text:              $cwc-main-color-red;
$cwc-color-secondary-alert-text:    $cwc-main-color-blue;
$cwc-color-alert-underline:         $cwc-main-color-blue;
