.cwc-input {
    border: 1px solid $cwc-input-box-grey;
    background: $cwc-main-white;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    -webkit-box-shadow: 0 0 0px 1000px $cwc-main-white inset;
    outline: none;
    &:focus {
        border-color: $cwc-input-box-grey-hover;
    }
}

.cwc-button {
    transition: .1s linear; /*softens hovers*/
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px;
    font-weight: bold;
    color: $cwc-charcoal-grey;
    background-color: $cwc-main-white;
    border: 1px solid $cwc-input-box-grey;
    &:focus {
        border-color: $cwc-input-box-grey-hover;
    }
    &:disabled {
        cursor: default;
        pointer-events: none;
        color: lighten($cwc-charcoal-grey, 10%);
        background-color: darken($cwc-main-white, 5%);
    }
}
