$cwc-medium-screen-up: $mediaSizes-mediumScreenUp;
$cwc-medium-screen: $mediaSizes-mediumScreen;

$cwc-medium-and-up: $mediaQueries-mediumAndUp;
$cwc-small-and-down: $mediaQueries-smallAndDown;

.cwc-screen-medium-and-up {
}
@media #{$cwc-small-and-down} {
    .cwc-screen-medium-and-up {
        display: none;
    }
}

.cwc-screen-small-and-down {
}
@media #{$cwc-medium-and-up} {
    .cwc-screen-small-and-down {
        display: none;
    }
}
