$cwc-medium-screen-up: 601px !default;
$cwc-medium-screen: 600px !default;

$cwc-medium-and-up: "screen and (min-width : #{$cwc-medium-screen-up})";
$cwc-small-and-down: "only screen and (max-width : #{$cwc-medium-screen})";

.cwc-screen-medium-and-up {
}
@media #{$cwc-small-and-down} {
    .cwc-screen-medium-and-up {
        display: none;
    }
}

.cwc-screen-small-and-down {
}
@media #{$cwc-medium-and-up} {
    .cwc-screen-small-and-down {
        display: none;
    }
}
