.common-ui {
    &__overlay-progress {
        position: fixed;
        overflow-y: scroll;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $cwcColorProgressOverlayMainBackgroundColor;
        align-content: center;
        z-index: 9999;
        &__hidden {
            display: none;
        }
        &__indicator-container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
        }
        &__indicator {
            border: 1px solid yellow;
            display: inline-block;
            position: relative;
        }
    }
}
