$cwcColorProgressOverlayMainBackgroundColor: rgba(227,242,253,.68);
$cwcColorOverlayMainBackgroundColor: rgba(0,0,0,.3);

$cwcColorMainBackground:         $themeColors-mainBackground;         // "#FFFFFF", // "main-white"
$cwcColorHeaderAndLogo:          $themeColors-headerAndLogo;          // "#007eb2", // "main-blue
$cwcColorSecondaryBackground:    $themeColors-secondaryBackground;    // "#E3F2FD", // "light-grey"
$cwcColorContrastBackground:     $themeColors-contrastBackground;     // "#607075", // "charcoal-grey"
$cwcColorMainText:               $themeColors-mainText;               // "#102025", // "main-black": "#102025",
$cwcColorSecondaryText:          $themeColors-secondaryText;          // "#607075", // "charcoal-grey":
$cwcColorContrastText:           $themeColors-contrastText;           // "#FFFFFF", // "main-white":
$cwcColorAlertText:              $themeColors-alertText;              // "#ce0000", // "main-red"
$cwcColorSecondaryAlertText:     $themeColors-secondaryAlertText;     //  "#007eb2", // cwc-main-color-blue
$cwcColorAlertUnderline:         $themeColors-alertUnderline;         // "#007eb2", // cwc-main-color-blue
