$cwcColorProgressOverlayMainBackgroundColor: rgba(227,242,253,.68);
$cwcColorOverlayMainBackgroundColor: rgba(0,0,0,.3);

$cwcColorMainBackground:         $themeColors-mainBackground;
$cwcColorHeaderAndLogo:          $themeColors-headerAndLogo;
$cwcColorSecondaryBackground:    $themeColors-secondaryBackground;
$cwcColorContrastBackground:     $themeColors-contrastBackground;
$cwcColorMainText:               $themeColors-mainText;
$cwcColorSecondaryText:          $themeColors-secondaryText;
$cwcColorContrastText:           $themeColors-contrastText;
$cwcColorAlertText:              $themeColors-alertText;
$cwcColorSecondaryAlertText:     $themeColors-secondaryAlertText;
$cwcColorAlertUnderline:         $themeColors-alertUnderline;
$cwcColorLink:                   $themeColors-linkColor;
